{{ ansible_managed | comment }}

# See http://docs.paperless-ngx.com/configuration/ for all available options.

# The UID and GID of the user used to run paperless in the container. Set this
# to your UID and GID on the host so that you have write access to the
# consumption directory.
USERMAP_UID={{ paperless_docker_usermap_uid }}
USERMAP_GID={{ paperless_docker_usernamp_gid }}

# See the documentation linked above for all options. A few commonly adjusted settings
# are provided below.

# This is required if you will be exposing Paperless-ngx on a public domain
# (if doing so please consider security measures such as reverse proxy)
{%- if paperless_docker_url is defined and paperless_docker_url | length %}
PAPERLESS_URL={{ paperless_docker_url }}
{%- else %}
#PAPERLESS_URL=
{%- endif %}

# Adjust this key if you plan to make paperless available publicly. It should
# be a very long sequence of random characters. You don't need to remember it.
#PAPERLESS_SECRET_KEY=change-me

# Use this variable to set a timezone for the Paperless Docker containers. Defaults to UTC.
PAPERLESS_TIME_ZONE={{ paperless_docker_time_zone }}

# The default language to use for OCR. Set this to the language most of your
# documents are written in.
PAPERLESS_OCR_LANGUAGE={{ paperless_docker_ocr_language }}

# Time interval (in seconds) for detecting new files quickly in the Paperless consumer
PAPERLESS_CONSUMER_POLLING=10
